/* CSS Document */
	.content-main{
		width: 100%;
		text-align: center;
	}
	.navbar-div{
		background-color:white;
	}
	body{
	}
	.navbar-brand-div{
		color: #000000;
	}
	.main-div{
		margin-left: 1%;
		width: 98%;
		height: 730px;
		
		background-color: #27AE60;
	}
	.csdn{
		margin-left: 500px;
	}
	.image-main{
		width: 99%;
		height: 99%;
		margin-top: 0.5%;
	}